<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junshijun.hub.idea.mapper.SysRolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.junshijun.hub.idea.entity.SysRolePermission">
        <id column="role_permission_id" property="rolePermissionId" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="modified_by" property="modifiedBy" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_permission_id, role_id, permission_id, version, is_deleted, created_by, created_time, modified_by, modified_time
    </sql>

</mapper>
